<div class="container">
    <div class="jumbotron">
        <h1>Burger Buffet</h1><br>
        <img src="https://media.giphy.com/media/xTiTntH1cWq5gyBceQ/giphy.gif" height="200px" width="200px"><br>
        <h2>Burgers so good you might die</h2>
        <br><br>
        <h3>Add a new burger</h3><br>
        <textarea class="form-control" id="newburger" rows="2"> </textarea>
        <button type="submit" class="btn btn-outline-success btn-lg btn-block" id="addburger">submit your
            burger!</button>
    </div>
    <div class="row">
        <div class="col-md-6">


            <div class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Burgers!</h5>
                    <p class="card-text">{{#each burgers}}
                        {{#unless devoured}}
                        {{burger_name}}
                        <button class="eatburger btn btn-primary" id="eatbutton" data-id="{{this.id}}"
                            data-newdevour="{{devour}}">
                            Devour me
                        </button>
                        {{/unless}}
                        {{/each}}

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Burgers!</h5>
                    <p class="card-text">
                        {{#each burgers}}
                        {{#if devoured}}
                        {{burger_name}}
                        <button type="button" class="delete-burger btn btn-primary" id="deleteburger"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}"><i class="far fa-trash-alt"></i> Throw
                            away</button>
                        {{/if}}
                        {{/each}}

                </div>
                </p>
            </div>

        </div>
    </div>

    <div class="mt-4">
        <h4>{{burger_name}}</h4>

        <!--Devour me button-->

    </div>